.container {
    height: 100px;
    width: 100px;
    background-color: salmon;
    /* transform: rotate(60deg); */
    /* transform: translate(0, 50%); */
    /* transform: scale(1.5, 2); */
    transform: skew(10deg, 20deg);
}