ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background: gray;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}